In [4]:
import pandas as pd
import numpy as np

In [ ]:
df_sales = pd.read_excel('C:/Users/victo/OneDrive/Documentos/Cursos/Projetos em Power BI/Análise de cliente/sales_data.xlsx')

    CustomerKey;Gender;Birth Date;Date first purchase;Total purchase;Customer type
0    CUST1;Feminino;25/11/1993;29/10/2023;18;Recurr...
1    CUST2;;10/08/1965;21/11/2023;3;Recurring customer
2    CUST3;Feminino;16/11/1992;07/09/2023;14;Recurr...
3    CUST4;;05/03/1988;21/05/2024;16;Recurring cust...
4    CUST5;Masculino;09/01/1984;06/11/2023;3;Recurr...
..                                                 ...
995  CUST996;Masculino;24/08/1972;26/06/2024;1;New ...
996      CUST997;;28/02/1974;03/11/2023;1;New customer
997      CUST998;;26/05/1953;01/11/2024;1;New customer
998      CUST999;;08/03/1955;25/06/2024;1;New customer
999  CUST1000;Masculino;03/09/1971;25/11/2023;1;New...

[1000 rows x 1 columns]

In [ ]:
df_customer = pd.read_excel('C:/Users/victo/OneDrive/Documentos/Cursos/Projetos em Power BI/Análise de cliente/customer_data_analysis.xlsx')
df_customer = df_customer[['CustomerKey','Gender','Birth Date','Date first purchase']]

In [ ]:
#Creating a dataframe with values grouped by CustomerKey
df_sales = df_sales.groupby('CustomerKey').agg({
    'Quantidade SKU' : 'sum',
    'Receita' : 'sum',
    'ID order' : 'count'}).rename(columns ={
    'ID order' : 'Sales',
    'Quantidade SKU' : 'Quantity SKU',
    'Receita' : 'Amount'})

In [ ]:
#Adding a column to identify the customer type
df_sales['Customer type'] = np.where(df_sales['Sales'] == 1, 'New customer', 'Recurring customer')
df_sales = df_sales.reset_index()
df_sales = df_sales.merge(df_customer,on='CustomerKey')

In [ ]:
df_sales['Amount'] = df_sales['Amount'].apply(lambda x: str(x).replace('.',','))